<a href="https://colab.research.google.com/github/cazlima/exerciciosPython/blob/main/Carina_treinando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello')

hello

In [ ]:
# titulo

# Titulo
## Subtitulo

In [ ]:
print('Seja bem vindo!\n ao data science \n\n de hoje!!!')

Seja bem vindo!
 ao data science

 de hoje!!!

In [ ]:
meu_nome = 'Carina'
meu_namo = 'Jean'
idade = 32
idade_dele = 29
sobrenome = 'Lima'
print(meu_nome)
print('Meu namo eh', meu_namo)

Carina
Meu namo eh Jean

In [ ]:
idade - idade_dele

3

In [ ]:
import builtins
a = 3
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b) 
print(a ** b)

5
1
6
1.5
1
1
9

In [ ]:
b-a

-1

In [ ]:
abs(b-a)

1

In [ ]:
print(max(a,b))
print(min(a,b))

3
2


◾ Exercício Proposto
Faça um programa que receba como entrada a área e o perímetro de uma residência. A partir de tais valores, calcule o custo para colocar piso no chão dessa casa e o custo para pintar as paredes dessa casa. Faça as suposições necessárias.

In [ ]:
area=float(input('Entre com a area da casa:'))
perimetro=float(input('Entre com o perimetro da casa:'))
altura=float(input('Entre com a altura da casa:'))

Entre com a area da casa:35
Entre com o perimetro da casa:27
Entre com a altura da casa:4

In [ ]:
# x*y=area x+x+y+y=perimetro 
# piso no chao = $4 por m2 .. $4*area +10%
# pintar as paredes = $5 por m2 +10%
pisoporm2 = 4
custo_piso = pisoporm2*area*1.1
pintarporm2 = 5
custo_pintar = pintarporm2*perimetro*altura*1.1
print('O custo de colocar pisa no chao dessa casa eh',custo_piso)
print('O custo para pintar as paredes dessa casa eh',custo_pintar)
print(round(custo_piso))
print(round(custo_pintar))

O custo de colocar pisa no chao dessa casa eh 154.0
O custo para pintar as paredes dessa casa eh 594.0
154
594

In [ ]:
listaG = ['A', 35, ['Alice', 'Johnny', [35, [0,1,'F'], 29], 1987], ['Python', 'para', 'DS'] ]
listaG[2]
listaG[2][2]
listaG[2][2][1]
listaG[2][2][1][2]

'F'

In [ ]:
id = input()
print(id)

nome = 'Carina'
idade = 30
print(f'Meu nome e ',{nome},'e minha idade e ',{idade})

30
30
Meu nome e  {'Carina'} e minha idade e  {30}

In [ ]:
Nomes=['joao', 'alice', 'ricardo', 'andre']
email=['joao@flai.com.br', 'alice@gmail.com.br', 'ricardo@hotmail.com.br', 'andre@hotmail.com.br']
n_nomes = len(Nomes)
n_emails = len(email)
print(f'O numero de alunos eh ',n_nomes)
print(f'Seu nomes sao:')
print(Nomes)
print(f'O numero de emails eh ',n_emails)
print(f'Seus emails sao:')
print(email)

O numero de alunos eh  4
Seu nomes sao:
['joao', 'alice', 'ricardo', 'andre']
O numero de emails eh  4
Seus emails sao:
['joao@flai.com.br', 'alice@gmail.com.br', 'ricardo@hotmail.com.br', 'andre@hotmail.com.br']

In [ ]:
combo1=email[0].split('@')
combo2=email[1].split('@')
combo3=email[2].split('@')
combo4=email[3].split('@')

print(f'Os nomes dos alunos sao {combo1[0]},{combo2[0]}, {combo3[0]} e {combo4[0]} ')
Names=[combo1[0],combo2[0], combo3[0], combo4[0]]
print(Names)
print(f'Os servidores dos alunos sao {combo1[1]}, {combo2[1]}, {combo3[1]} e {combo4[1]} ')
Servs=[combo1[1],combo2[1], combo3[1], combo4[1]]
print(Servs)

Os nomes dos alunos sao joao,alice, ricardo e andre
['joao', 'alice', 'ricardo', 'andre']
Os servidores dos alunos sao flai.com.br, gmail.com.br, hotmail.com.br e outlook.com.br
['flai.com.br', 'gmail.com.br', 'hotmail.com.br', 'outlook.com.br']

In [ ]:
usuarios=[]
for i in range(0,4):
  usuarios.append(email[i].split('@')[0])

servidores=[]
servidores.append(email[0].split('@')[1].split('.')[0])
servidores.append(email[1].split('@')[1].split('.')[0])
servidores.append(email[2].split('@')[1].split('.')[0])
servidores.append(email[3].split('@')[1].split('.')[0])

print(f'Os nomes dos alunos sao {usuarios[0]},{usuarios[1]}, {usuarios[2]} e {usuarios[3]} ')
print(usuarios)
print(f'Os servidores dos alunos sao {servidores[0]},{servidores[1]}, {servidores[2]} e {servidores[3]} ')
print(servidores)

print('Numero de emails da Flai:',servidores.count('flai'))
print('Numero de emails da Hotmail:',servidores.count('hotmail'))
print('Numero de emails da Gmail:',servidores.count('gmail'))

Os nomes dos alunos sao joao,alice, ricardo e andre
['joao', 'alice', 'ricardo', 'andre']
Os servidores dos alunos sao flai,gmail, hotmail e hotmail
['flai', 'gmail', 'hotmail', 'hotmail']
Numero de emails da Flai: 1
Numero de emails da Hotmail: 2
Numero de emails da Gmail: 1

In [ ]:
n_nomes!=n_emails
type(Nomes[1])

print(any([True, False]))

all([True, False])

True

False

In [ ]:
name = input('Digite seu nome:')
idade = int(input('Digite sua idade:'))
renda = int(input('Digite sua renda mensal:'))
empregado = int(input('Se tiver empregado, digite 1, se nao estiver, digite 0:'))

Digite seu nome:Cinderela
Digite sua idade:40
Digite sua renda mensal:1400
Se tiver empregado, digite 1, se nao estiver, digite 0:1

In [ ]:
type(empregado)

int

In [ ]:
if empregado > 0:
    score = 490*((idade/75)+(renda/10000))
else:
    score = 455*((idade/75)+(renda/10000))

print(round(score,2))

329.93

In [ ]:
if score < 501:
    print('Voce eh de alto risco')
elif score < 800:
    print('Voce eh de medio risco')
else:
    print('Voce eh de baixo risco')

Voce eh de alto risco

In [ ]:
bairros = ['aflitos', 'gracas', 'viagem', 'areias']

for bairro in bairros:
    noss=bairro.count('s')
    print(f'Na palavra {bairro} aparece {noss} vez(es) a letra O')

Na palavra aflitos aparece 1 vez(es) a letra O
Na palavra gracas aparece 1 vez(es) a letra O
Na palavra viagem aparece 0 vez(es) a letra O
Na palavra areias aparece 1 vez(es) a letra O

In [ ]:
for i in range(1,10,1):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
contador = 0
while contador < 10:
  print('x'*contador)
  contador=contador+1

x
xx
xxx
xxxx
xxxxx
xxxxxx
xxxxxxx
xxxxxxxx
xxxxxxxxx

In [ ]:
contador=0
while True:
  print('x'*contador)
  contador=contador+1
  if contador == 11:
    break

x
xx
xxx
xxxx
xxxxx
xxxxxx
xxxxxxx
xxxxxxxx
xxxxxxxxx
xxxxxxxxxx

In [ ]:
contador = 0
while contador <= 10:
    contador += 1 
    print('*' * contador)
   
else:
    print('*')

*
**
***
****
*****
******
*******
********
*********
**********
***********
*

In [ ]:
num=int(input('Digite um numero de 0 a 10: '))
num1=num*1
num2=num*2
num3=num*3
num4=num*4
num5=num*5
print(f'{num} vezes 1 eh igual a {num1}')
print(f'{num} vezes 2 eh igual a {num2}')
print(f'{num} vezes 3 eh igual a {num3}')
print(f'{num} vezes 4 eh igual a {num4}')
print(f'{num} vezes 5 eh igual a {num5}')

Digite um numero de 0 a 10: 3
3 vezes 1 eh igual a 3
3 vezes 2 eh igual a 6
3 vezes 3 eh igual a 9
3 vezes 4 eh igual a 12
3 vezes 5 eh igual a 15

In [ ]:
num=int(input('Digite um numero de 0 a 10: '))
for i in range(11):
  print(f'{num} * {i} = {num*i}')

Digite um numero de 0 a 10: 8
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [ ]:
frutas = ['maçã', 'limão', 'kiwi', 'tomate', 'banana','morango', 'abacate', 'abacaxi', 'mexirica', 'pera', 'uva']

numa=0
while numa<3:
  for fruta in frutas:
    numa=fruta.count('a')
    if numa >= 3:
      break
    print(fruta)
    print(numa)

maçã
1
limão
0
kiwi
0
tomate
1

In [ ]:
frutas = ['maçã', 'limão', 'kiwi', 'tomate', 'banana','morango', 'abacate', 'abacaxi', 'mexirica', 'pera', 'uva']

numa=0
lis=[]
for fruta in frutas:
  numa=len(fruta)
  if numa >= 8:
    break
  else:
    lis.append(fruta)
print(lis)

['maçã', 'limão', 'kiwi', 'tomate', 'banana', 'morango', 'abacate', 'abacaxi']

In [ ]:
import random
amostra = random.sample(range(1,11),5)
print(amostra)

[5, 6, 4, 1, 3]

In [ ]:

def tabuada(num):
  num1=num*1
  num2=num*2
  num3=num*3
  num4=num*4
  num5=num*5
  num6=num*6
  num7=num*7
  num8=num*8
  num9=num*9
  num10=num*10
  print(f'{num} vezes 1 eh igual a {num1}')
  print(f'{num} vezes 2 eh igual a {num2}')
  print(f'{num} vezes 3 eh igual a {num3}')
  print(f'{num} vezes 4 eh igual a {num4}')
  print(f'{num} vezes 5 eh igual a {num5}')
  print(f'{num} vezes 6 eh igual a {num6}')
  print(f'{num} vezes 7 eh igual a {num7}')
  print(f'{num} vezes 8 eh igual a {num8}')
  print(f'{num} vezes 9 eh igual a {num9}')

In [ ]:
tabuada(3)

3 vezes 1 eh igual a 3
3 vezes 2 eh igual a 6
3 vezes 3 eh igual a 9
3 vezes 4 eh igual a 12
3 vezes 5 eh igual a 15
3 vezes 6 eh igual a 18
3 vezes 7 eh igual a 21
3 vezes 8 eh igual a 24
3 vezes 9 eh igual a 27

In [ ]:
def somaqua(lista):
  soma=0
  for item in lista:
    soma+=item**2
  return soma

In [ ]:
somaqua([1,2,3,4])

30

In [ ]:
def somaqua(lista, pot):
  soma=0
  for item in lista:
    soma+=item**pot
  return soma

In [ ]:
somaqua([1,2,3,4],pot=3)

100

In [ ]:
def jogatina(rep,rd,z):
  import random

  somadado=[]
  for n in range(rep):
    dado=random.sample(range(1,7),5)
    somadado.append(round(sum(dado)))

  print(somadado)

  num20=somadado.count(20)
  print(num20)
  probabilidade=num20/rep
  roundp=round(probabilidade,rd)
  if z > 0:
    probcem=100*probabilidade
    probcem=round(probcem,rd)
    print(f'a probabilibilidade eh de {probcem} %')
  else:
    print(f'a probabilibilidade eh de {roundp}')

In [ ]:
jogatina(1000,2,0)

[20, 15, 20, 18, 17, 15, 16, 18, 15, 19, 18, 15, 20, 20, 19, 16, 19, 19, 19, 20, 19, 20, 20, 16, 16, 17, 15, 18, 16, 20, 15, 15, 15, 20, 17, 16, 17, 19, 19, 20, 17, 15, 20, 19, 15, 20, 19, 20, 17, 20, 20, 17, 18, 15, 20, 17, 17, 19, 19, 16, 20, 18, 19, 17, 20, 16, 17, 19, 18, 18, 19, 18, 16, 16, 15, 19, 19, 16, 15, 20, 17, 16, 15, 18, 17, 18, 17, 15, 15, 19, 20, 17, 16, 20, 18, 17, 15, 18, 18, 19, 15, 19, 19, 15, 20, 19, 19, 18, 16, 19, 18, 15, 18, 16, 18, 18, 18, 17, 17, 15, 15, 17, 19, 16, 16, 18, 19, 19, 20, 20, 17, 17, 19, 16, 15, 15, 16, 18, 19, 18, 16, 20, 19, 19, 20, 19, 20, 16, 18, 18, 17, 18, 15, 19, 16, 19, 20, 15, 18, 17, 17, 17, 17, 17, 16, 19, 18, 18, 17, 16, 16, 17, 18, 18, 17, 15, 19, 20, 15, 20, 20, 20, 19, 18, 20, 15, 15, 19, 20, 16, 17, 16, 18, 19, 20, 17, 16, 19, 20, 18, 15, 18, 17, 18, 19, 17, 16, 19, 16, 18, 19, 19, 15, 15, 19, 18, 18, 15, 15, 17, 18, 18, 15, 19, 17, 18, 20, 15, 20, 19, 18, 17, 17, 18, 19, 19, 20, 20, 16, 18, 18, 18, 18, 20, 17, 18, 20, 15, 17, 17, 16, 18, 16, 18, 17, 15, 19, 15, 16, 19, 19, 17, 16, 17, 19, 17, 16, 19, 17, 20, 16, 19, 17, 19, 18, 19, 19, 17, 15, 19, 18, 20, 17, 15, 17, 20, 17, 18, 17, 16, 15, 15, 15, 17, 17, 16, 17, 16, 19, 20, 15, 18, 20, 20, 20, 18, 17, 17, 15, 15, 16, 20, 17, 17, 19, 17, 16, 15, 17, 19, 15, 16, 15, 18, 16, 18, 19, 19, 19, 16, 19, 15, 19, 15, 20, 20, 19, 16, 18, 17, 18, 19, 17, 20, 17, 17, 15, 17, 17, 18, 15, 16, 16, 16, 15, 16, 16, 20, 15, 17, 16, 19, 19, 17, 20, 15, 15, 19, 15, 20, 16, 16, 16, 17, 16, 15, 19, 15, 15, 19, 19, 17, 17, 18, 18, 16, 20, 18, 17, 16, 19, 19, 19, 18, 20, 18, 15, 16, 19, 16, 18, 15, 19, 15, 20, 15, 19, 16, 18, 15, 15, 20, 20, 19, 19, 15, 15, 15, 18, 18, 19, 16, 20, 15, 19, 20, 20, 18, 19, 16, 20, 18, 16, 15, 17, 16, 15, 18, 19, 17, 20, 20, 17, 20, 18, 17, 19, 20, 20, 15, 17, 20, 20, 16, 15, 20, 19, 15, 17, 19, 16, 15, 15, 17, 16, 15, 17, 20, 20, 18, 15, 19, 15, 15, 20, 17, 15, 16, 16, 20, 18, 20, 18, 18, 15, 18, 20, 18, 20, 16, 15, 18, 17, 18, 16, 16, 18, 19, 18, 19, 17, 15, 17, 20, 15, 19, 18, 20, 17, 19, 17, 20, 17, 15, 16, 19, 18, 15, 19, 19, 15, 18, 17, 15, 17, 19, 18, 19, 16, 17, 17, 16, 17, 16, 15, 17, 20, 15, 18, 19, 16, 16, 19, 17, 16, 19, 18, 15, 17, 17, 20, 19, 16, 18, 16, 18, 17, 19, 19, 16, 18, 18, 17, 18, 16, 16, 18, 15, 15, 16, 16, 15, 16, 16, 17, 18, 18, 17, 19, 17, 17, 16, 16, 15, 15, 20, 20, 18, 16, 16, 16, 15, 17, 19, 16, 19, 20, 17, 19, 19, 17, 16, 20, 20, 16, 16, 16, 15, 20, 15, 19, 15, 19, 15, 18, 16, 17, 15, 18, 17, 19, 19, 18, 18, 17, 19, 19, 20, 20, 15, 20, 20, 20, 17, 15, 19, 18, 15, 17, 15, 16, 19, 19, 15, 20, 19, 15, 15, 20, 16, 16, 18, 18, 18, 16, 15, 20, 20, 16, 18, 18, 17, 20, 19, 19, 20, 17, 18, 17, 20, 18, 15, 18, 18, 17, 20, 19, 16, 17, 15, 19, 15, 18, 17, 20, 20, 20, 17, 20, 18, 18, 17, 19, 18, 16, 15, 16, 16, 17, 16, 18, 15, 17, 17, 20, 20, 20, 16, 20, 15, 19, 19, 20, 17, 17, 19, 18, 19, 18, 17, 18, 15, 17, 18, 16, 17, 16, 16, 20, 18, 16, 16, 19, 15, 16, 19, 19, 17, 15, 19, 17, 20, 17, 20, 15, 19, 18, 17, 17, 17, 16, 17, 15, 18, 19, 15, 18, 18, 16, 16, 16, 19, 15, 18, 19, 15, 16, 19, 15, 18, 18, 16, 18, 15, 19, 17, 16, 20, 16, 15, 16, 19, 15, 19, 15, 17, 20, 16, 16, 18, 18, 19, 16, 19, 19, 19, 15, 18, 17, 18, 15, 19, 18, 16, 19, 16, 17, 17, 15, 20, 16, 18, 15, 19, 18, 20, 15, 16, 17, 20, 16, 15, 15, 20, 17, 16, 16, 18, 18, 15, 18, 17, 16, 20, 19, 17, 18, 18, 17, 15, 16, 15, 16, 20, 20, 18, 19, 18, 17, 15, 17, 19, 18, 15, 19, 15, 16, 16, 15, 16, 20, 20, 19, 16, 19, 18, 15, 17, 17, 19, 17, 15, 15, 20, 15, 17, 20, 18, 17, 17, 19, 15, 19, 19, 17, 15, 16, 19, 19, 19, 19, 19, 17, 19, 20, 20, 16, 20, 18, 18, 17, 18, 17, 17, 19, 17, 18, 18, 20, 19, 16, 16, 17, 17, 15, 20, 20, 17, 16, 20, 15, 17, 20, 16, 15, 16, 17, 16, 19, 15, 17, 20, 20, 17, 18, 19, 18, 16, 17, 19, 20, 20, 20, 15, 17, 19, 15, 15, 18, 16, 17, 19, 20, 16, 19, 18, 15, 19, 19, 15, 15, 19, 20, 19, 18, 16, 15, 17, 17, 15, 20, 18, 15, 18, 17, 17, 19, 19, 15, 20, 20, 15, 17, 18, 16, 17, 18, 19, 17, 17, 20, 19, 15, 17, 18, 15, 20, 19, 18, 16]
149
a probabilibilidade eh de 0.15